@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-ibm-plex-mono: var(--font-ibm-plex-mono);
    --font-playfair-display: var(--font-playfair-display);
    --font-jetbrains-mono: var(--font-jetbrains-mono);
    --font-fira-code: var(--font-fira-code);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

html.no-scroll,
body.no-scroll {
    /* overflow-y: hidden !important; */
    overflow: hidden !important;
    height: 100% !important;
}

.image-inner {
    background-image: url("/images/image-split/dekstop-gr.jpg");
    background-position: center;
    background-size: auto 100%;
}

@media (min-width: 769px) {
    .image-inner {
        background-image: "/images/image-split/mobile-gr.jpg";
        background-size: cover;
    }
}

.bg-home {
    background: repeating-linear-gradient(45deg, #2f3035, #2f3035 2px, #3a3b41 2px, #3a3b41 3px);
}

.top-shadow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to bottom, rgba(47, 48, 53, 1), transparent);

    z-index: 1;
}

.card-3d {
    position: relative;
    border-radius: 1rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), 0px 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}
@layer components {
    .contact-input {
        @apply w-full bg-[#2D3748] border border-[#5A5B5F] rounded-lg p-3 text-white placeholder-gray-500 focus:ring-2 focus:ring-cyan-500 focus:border-cyan-500 outline-none transition-colors;
    }
    .contact-button {
        @apply w-full bg-cyan-500 text-white font-bold py-3 px-6 rounded-lg flex items-center justify-center gap-2 transition-all duration-300 hover:bg-cyan-400;
    }
}
